/* ---------- ESTILOS GENERALES ---------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: bold;
  background: #212121;
}

.Tittle {
  text-align: center;
  margin: 2em;
}

.imgTittle {
  width: 450px;
  height: 110px;
}

/* ---------- ESTILOS FORM SEARCH BY TYPE ---------- */
.container {
  height: 20rem;
  width: 50%;
  min-width: 1250px;
  margin: auto;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  text-align: center;
}

.formulario{
  margin-left: 100px;
  margin-top: 35px;
  color: white;
}

.textPoke{
  font-size: 1.5rem;
}

.formulario p,
.formulario input{
  vertical-align: middle;
}

.buscar {
  width: 160px;
  height: 30px;
  border-radius: 50px;
  text-align: center;
  outline: none;
}

.busqueda{
  margin-left: 0px;
  margin-top: 35px;
}

.listaTipos{
  width: 240px;
  height: 28px;
  border-radius: 14px;
  border: 3px solid black;
  text-align: center;
  color: #8c8c8c;
  background-color: white;
}

.listaTiposItem{
  width: 240px;
  height: 80px;
  border-radius: 40px;
  border: 3px solid black;
  text-align: center;
  color: #8c8c8c;
  background-color: white;
}

button{
  width: 100px;
  height: 40px;
  color: white;
  background-color: #9e9e9e;
  border: 3px solid black;
  border-radius: 50px;
  text-align: center;
  margin-right: 20px;
  outline: none;
}

button:hover {
  background-color: #9e9e9e;
  border-radius: 20px;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 30px #9e9e9e;
}

.busqueda button,
.busqueda img{
  vertical-align: middle;
}

.pokebola-img{
  max-width: 20%;
}

.cardsList {
  background-color: transparent;
  height: auto;
  width: 42rem;
  min-width: 32rem;
  height: 38rem;
  overflow: visible;
  margin: 8px;
}

.row{
  height: 15rem;
  padding: 1rem;
  background-color: transparent;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

.column{
  width: 30%;
  height: 15rem;
  padding: 1.0%;
  float: left;
  background-color: transparent;
}













/* ---------- BOTÓN HOME ---------- */
.imgHome {
  background-color: #ff6600;
  border-radius: 50px;
  margin-left: 25px;
}
.imgHome:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0 0 30px #fd7a20;
}